<div class="posts">
    <img src="<%= @user.photo %>" />
    <h1><%= @user.name %></h1>
    <h2><%= @user.bio %></h2>
    <p><%= @user.posts_counter %></p>

    <%= @user.posts.each do |post| %>
        <%= link_to user_post_path(@user.id, post.id) do %>
            <div class="schow_posts">
                <h3><%=post.title %></h3>
                <p><%=post.text %></p>
                <p><%=post.comments_counter %>
                <p><%=post.likes_counter %>
            </div>
        <% end %>
    <% end %>
    <%= link_to "See all posts", user_posts_path(@user)%>
</div>