<img src="<%= @user.photo %>" />
<h1><%= @user.name %></h1>
<h2><%= @user.bio %></h2>
<p><%= @user.posts_counter %></p>
<% @user.posts.each do |post| %>
    <h3><%=post.title %></h3>
    <p><%=post.text %></p>
    <p><%=post.comments_counter %>
    <p><%=post.likes_counter %>
    <h3>Commetes</h3>
    <% post.comments.each do |comment| %>
        <p><%=comment.text %></p>
    <% end %>
    <a href ="<%= post_path(post.id) %>">see post</a>
<% end %>