<div class="posts">
    <img src="<%= @user.photo %>" alt="<%= @user.name %>" />
    <h1><%= @user.name %></h1>
    <h2><%= @user.bio %></h2>
    <p>Number of posts :<%= @user.posts_counter %></p>
    <%= link_to "Create new post", new_user_post_path(@user)  %>
    <% @posts.each do |post| %>
            <div class="schow_posts">
                <h3><%=post.title %></h3>
                <p><%=post.text %></p>
                <p>comment: <%=post.comments_counter %>
                <p>likes: <%=post.likes_counter %>
                <% post.recent_comments.each do |comment| %>
                    <p><%=comment.text %></p>
                <% end %>
            </div>
    <% end %>
</div>