<div class="see_post">
    <h3><%=@post.title %></h3>
    <p><%=@post.text %></p>
    <p><%=@post.author_id %></p>
    <p>comment: <%=@post.comments_counter %>
    <p>likes: <%=@post.likes_counter %>
    <% @post.recent_comments.each do |comment| %>
        <p><%= comment.author.name %> : <%= comment.text %></p>
    <% end %>
</div>