<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%=link_to "home", root_path %>
    <%=link_to "about", articles_home_p_path %>
    <%=link_to "articles", articles_index_path %>
    <%# <a href="/">Home</a>
    <a href="/home_p">about</a>
    <a href="/articals">Articals</a> %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
